{% extends "base.twig" %}

{% block content %}
    <h1>Bienvenu sur la page de contact</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipirovident laudantium eos voluptate eveniet placeat temporibus eligendi error praesentium laborum, ipsum tenetur repellat consectetur ipsa saepe facilis. Explicabo dolores minus alias soluta, earum quo.
        Ad, esse dolorem tenetur magni quae veniam mosicing elit. Illo, accusamus ducimus atque magnam sint similique est quo ipsum praesentium itaque sit exercitationem perferendis eaque maiores sunt neque laudantium vero? Sequi!
        Aliquid, odio, necessitatibus obcaecati aut plestiae odit vero modi temporibus inventore aliquam eius quas beatae, enim maiores unde quidem, illo rerum nisi fugiat voluptates placeat qui. A, consequuntur.
        Vel dolore nesciunt autem cum eveniet, harum odio asperiores sequi necessitatibus non at ex deleniti beatae quidem perferendis deserunt eius. Officia aliquam consequuntur, aperiam voluptas praesentium perferendis veritatis doloremque laudantium?
        Et, a deserunt, temporibus ex ut laboriosam consequuntur architecto quas at porro natus corrupti inventore voluptates quos necessitatibus rerum dolorem facilis omnis. Voluptate iure cum nam recusandae nostrum ab enim.
    </p>
{% endblock content %}